* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    color: white;
}

body {
    background-color: #1f2933;
}

/* Navbar */
.navbar {
    background-color: #3e4c59
}

.nav-link {
    margin-left: 1.5em;
    margin-right: 1em;
    font-size: 1.5em;
    color: white;
}

.navbar-brand img {
    margin-left: 1em;
    width: 50px;
}

/* Main Container */
#main-container {
    display: flex;
    flex-direction: column;
    padding: 5em;
    margin-left: 3em;
    margin-right: 3em;
    align-items: auto;
}

#description {
    width: 100vh;
}

.header {
    font-size: 4em;
    color: #F44336;
}

p {
    font-size: 1.25em;
}

#cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30rem;
    height: auto;
}

.card img{
    height: 10em;
    object-fit: cover;
}

.card-title, .card-text{
    color: black;
}

/* Loader */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    width: auto;
    height: 25%;
    top: 0;
    left: 0;
}
